{% extends "auctions/layout.html" %}

{% block body %}
<h3>Listing: {{ listing|get_item:"title" }}</h3>
{% if user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
    {% if watchlist == 1 %}
    <input id="removeFromWatchlist" class="btn btn-primary" type="submit" value="Remove from Watchlist">
    <input name="watchlistAction" value="remove" type="hidden">
    <input name="watchlistItem" value="{{ listing|get_item:"title" }}" type="hidden">
    {% else %}
    <input id="addToWatchlist" class="btn btn-primary" type="submit" value="Watchlist">
    <input name="watchlistAction" value="add" type="hidden">
    <input name="watchlistItem" value="{{ listing|get_item:"title" }}" type="hidden">
    {% endif %}
</form>
{% endif %}
<div id="listing_img">
    <img src="{{ listing|get_item:"imageURL" }}">
</div>
<div>
    <h5 style="font-weight:600">${{ listing|get_item:"bid" }}</h5>
</div>
{% if user.is_authenticated %}
<form action="{% url 'commerce:listing' listing|get_item:"title"%}" method="post">
    <div class="form-group">
        {% csrf_token %}
        {{ placeBid.bid }}
        <input id="submit" class="btn btn-primary" type="submit" value="Place Bid">
        <input name="placedTo" value="{{ listing|get_item:"title" }}" type="hidden">
        <input name="currentBid" value="{{ listing|get_item:"bid" }}" type="hidden">
        <input name="placedBy" value="{{ user.id }}" type="hidden">
    </div>
</form>
{% endif %}
<div style="margin-top:30px;">
    <h4>Details</h4>
    <ul>
        <li>Listed by NAME</li>
        <li>Category: {{ listing|get_item:"category" }}</li>
    </ul>
</div>
{% endblock %}